<div>
  <h3>Search Results for: `<%= @query %>`</h3>
</div>
<div class="container">
  <div class="row">
    <div class="card" id="resultsDisplayCard">
    <% @web_results.each do |result| %>
      <img class="card-img-top" style="width: 10rem;" name="img" src="<%= result.img %>" alt="oof where dat image at">
      <h3 class="card-title" id="resultsDisplayCardTitle" name="name"><%= result.name %></h3>
      <h6 class="card-subtitle mb-2 text-muted" id="resultsDisplayCardSubtitle" name="prep_time">Prep time : <%= result.prep_time %></h6>
      <p class="card-body" name="description" id="resultsDisplayCardDescription"><%= result.description %></p>
      <form method="post" action="/recipes">
        <input type="hidden" name="name" value="<%= result.name %>">
        <input type="hidden" name="description" value="<%= result.description %>">
        <input type="hidden" name="prep_time" value="<%= result.prep_time %>">
        <input type="hidden" name="img" value="<%= result.img %>">
        <button type="submit" class="btn btn-success btn-lg" id="resultsAddButton">+ Add</button>
      </form>
    <% end %>
    </div>
  </div>
</div>
